body {
    font-family: 'Roboto', sans-serif;
    background: #111;
    color: white;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    height: 60vh;    
    overflow: auto;        
    border-radius: 12px;
    border: 1px solid #222;
}

table {
    width: 100%;
    min-width: 1300px; 
    border-collapse: collapse;
}

th,
td {
    padding: 12px 14px;
    border: 1px solid #333;
    text-align: left;
    white-space: nowrap;    
    font-size: 14px;
}

thead th {
    position: sticky;
    top: 0;
    background: #222;
    z-index: 2;
}

tr:nth-child(even) {
    background: #1a1a1a;
}

a {
    text-decoration: none;
    color: rgb(255, 103, 103);
    font-weight: 500;
}

.table-container::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

@media (max-width: 768px) {
    h1{
        font-size: 100px;
    }

    th,
    td {
        font-size: 18px;
        padding: 16px 18px;
    }

    table {
        min-width: 1600px;
    }

    body {
        padding: 10px;
    }

    a {
        font-size: 18px;
    }
}

.backButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 250px;

    text-align: center;
    margin: 20px auto;
    margin-top: 40px;
}

.backButton a{
    width: 100%;
}

.backButton button {
    background-color: #ff5050;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}