body {
    color: white;
    padding: 20px;
    margin: 0;
    background: linear-gradient(135deg, #0f2027, #0b0714, #19002b);
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-container form {
    width: 100%;
    max-width: 350px;
}

.filter-container select {
    width: 100%;
    padding: 12px 16px;

    background: rgba(255, 255, 255, 0.08);
    color: white;

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;

    font-family: "Rubik", sans-serif;
    font-size: 16px;

    cursor: pointer;

    backdrop-filter: blur(10px);
    transition: 0.3s ease;
}

.filter-container select:hover {
    border-color: #59c5ff;
}

.filter-container select:focus {
    outline: none;
    border-color: #59c5ff;
    box-shadow: 0 0 0 3px rgba(89, 197, 255, 0.2);
}

.filter-container option {
    background: #151515;
    color: white;
}

@media (max-width: 768px) {
    .filter-container form {
        max-width: 100%;
    }

    .filter-container select {
        font-size: 18px;
        padding: 10px 14px;
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='12' viewBox='0 0 20 20' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 28px;
}

.filter-container:focus{
    outline: none;
    border-color: #83e8ff;
}

.table-container {
    width: 100%;
    height: 60vh;    
    overflow: auto;        
    border-radius: 12px;
    border: 2px solid #ffffff5f;
}

table {
    width: 100%;
    min-width: 1300px; 
    border-collapse: collapse;
}

th,
td {
    padding: 12px 14px;
    border: 1px solid #333;
    text-align: left;
    white-space: nowrap;    
    font-size: 14px;
}

thead th {
    position: sticky;
    top: 0;
    background: #131313;
    z-index: 2;
}

tr:nth-child(odd) {
    background: #1a1a1a4b;
}

tr:nth-child(even) {
    background: #1a1a1a9d;
}

a {
    text-decoration: none;
    color: rgb(255, 103, 103);
    font-weight: 500;
}

.table-container::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #d7d7d783;
    border-radius: 10px;
}

@media (max-width: 768px) {
    h1{
        font-size: 40px;
    }

    th,
    td {
        font-size: 12px;
        padding: 10px 9px;
    }

    table {
        min-width: 1600px;
    }

    body {
        padding: 10px;
    }

    button {
        font-size: 12px;
    }

    .table-container::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }
}

.excelButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 250px;

    text-align: center;
    margin: 20px auto;
    margin-top: 40px;
}

.backButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 250px;

    text-align: center;
    margin: 20px auto;
    margin-top: 20px;
}

.excelButton a{
    width: 100%;
}

.backButton a{
    width: 100%;
}

.excelButton button {
    font-family: "Rubik", sans-serif;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

.backButton button {
    font-family: "Rubik", sans-serif;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}