body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #000000;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 20px;
}

.cameraContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

video {
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.captureButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 250px;

    text-align: center;
    margin: 20px auto;
}

.captureButton button {
    background-color: #ffea00;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

.backButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 250px;

    text-align: center;
    margin: 20px auto;
}

.backButton a{
    width: 100%;
}

.backButton button {
    background-color: #ff5050;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}