body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #000000;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 40px 40px;
    animation: gridMove 2s linear infinite;
    text-align: center;
    color: white;
}

@keyframes gridMove {
    from {
        background-position: 0 0, 0 0;
    }

    to {
        background-position: 0 40px, 0 40px;
    }
}

h1 {
    margin-top: 20px;
}

.cameraContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

video {
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    border: 1px solid white;
    background: rgb(255, 255, 255);
}

.captureButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 250px;

    text-align: center;
    margin: 20px auto;
}

.captureButton button {
    background-color: #ffea00;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

.backButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 250px;

    text-align: center;
    margin: 20px auto;
}

.backButton a {
    width: 100%;
}

.backButton button {
    background-color: #93ff6b;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

#loader {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #333;
    border-top: 6px solid #ffea00;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}