body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: sans-serif;
}

.startButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 400px;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: #151515;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.045);
    text-align: center;
    max-width: 250px;
}

.startButton h1 {
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.startButton button {
    background-color: #ffea00;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

.startButton button:hover{
    transform: translate(0,-3px);
}