body {
    margin: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 40px 40px;
    animation: gridMove 2s linear infinite;
    font-family: sans-serif;
}

@keyframes gridMove {
    from {
        background-position: 0 0, 0 0;
    }

    to {
        background-position: 0 40px, 0 40px;
    }
}

.startButton {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 400px;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #151515;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.045);
    text-align: center;
    max-width: 250px;
}

.startButton h1 {
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.startButton button {
    background-color: #ffea00;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

.startButton button:hover {
    transform: translate(0, -3px);
}

.footer {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.footer a{
    text-decoration: none;
    color: #aaa;
}