<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visiting Card Scanner</title>
    <link rel="icon" href="{{ url_for('static', filename='images/IshaanLogo.png') }}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="startButton">
        <h1>Visiting Card Scanner</h1>
        <a href="/scan">
            <button>Start Scan</button>
        </a>
        <a href="/leads">
            <button style="margin-top: 20px; background-color: #93ff6b">View Leads</button>
        </a>
    </div>

    <footer class="footer">
        Developed by <a href = "https://ishaanguptaportfolio.netlify.app/" target = "_blank"><strong>Ishaan Gupta</strong></a>
    </footer>
</body>
</html>